<div class="p-feedback">
    <a
        href="https://github.com/srungta/srungta.github.io/issues/new?labels=feedback&title=&body=%0A%0A%5BAdd%20details%20here%5D%0A%0A---%0A%23%23%23%23%20Document%20Details%0A%E2%9A%A0%20%2ADo%20not%20edit%20this%20section.%20It%20helps%20me%20track%20the%20feedback.%2A%0A%2A%20%2A%2APost%20link%2A%2A%20%3A%20{{ page.url | relative_url }}%0A%2A%20%2A%2APost%20Id%2A%2A%20%3A%20{{ page.unique_id }}">
        <button class="p-feedback-button">
            ❣ Give feedback about this post
        </button>
    </a>
</div>