{%- if include.item.sortInReverse -%}
{%- assign postswithseries = site.posts | where_exp: 'post', 'post.series' -%}
{%- assign seriesposts = postswithseries | where: 'series.id', include.item.id | sort: 'series.index'|reverse -%}
{% else %}
{%- assign postswithseries = site.posts | where_exp: 'post', 'post.series' -%}
{%- assign seriesposts = postswithseries | where: 'series.id', include.item.id | sort: 'series.index' -%}
{%- endif -%}

{%- if seriesposts.size > 0 -%}
<fieldset class="series-details">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <legend>
        <b>{{ include.item.name | escape }}</b>
    </legend>
    <p>
        {%- if include.item.status -%}
        <span class="tag">{{ include.item.status }}</span>
        {%- endif -%}
        {{ include.item.description | escape }}
    </p>

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- if seriesposts.size > 0 -%}
    <ol class="series-post-list">
        {%- for post in seriesposts -%}
        <li>
            {%- include post-list-item.html post=post -%}
        </li>
        {%- endfor -%}
    </ol>
    {%- endif -%}
</fieldset>
<br />
{%- endif -%}