{%- assign seriesposts = site.posts | where: 'series.id', include.item.id | sort: 'series.index' | reverse -%}
{%- if seriesposts.size > 0 -%}
<li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <h2>
        <b>{{ include.item.name | escape }}</b>
    </h2>
    <p>
        {%- if include.item.status -%}
        <span class="p-tag">{{ include.item.status }}</span>
        {%- endif -%}
        {{ include.item.description | escape }}
    </p>

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- if seriesposts.size > 0 -%}
    <ol>
        {%- for post in seriesposts -%}
        <li>
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            {%- if post.isNew -%}
            <span class="p-post-new">NEW</span>
            {%- endif -%}
        </li>
        {%- if post.tldr -%}
        <span class="p-series-tldr">
            {{post.tldr}}
        </span>
        {%- endif -%}

        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
        {%- endfor -%}
    </ol>
    {%- endif -%}
</li>
<br />
{%- endif -%}