{%- if include.item.sortInReverse -%}
{%- assign seriesposts = site.posts | where: 'series.id', include.item.id | sort: 'series.index'|reverse -%}
{% else %}
{%- assign seriesposts = site.posts | where: 'series.id', include.item.id | sort: 'series.index' -%}
{%- endif -%}

{%- if seriesposts.size > 0 -%}
<fieldset class="series-details">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <legend>
        <b>{{ include.item.name | escape }}</b>
    </legend>
    <p>
        {%- if include.item.status -%}
        <span class="tag">{{ include.item.status }}</span>
        {%- endif -%}
        {{ include.item.description | escape }}
    </p>

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- if seriesposts.size > 0 -%}
    <ol>
        {%- for post in seriesposts -%}
        <li>
            {%- if post.isNew -%}
            <span class="sd-post-new">NEW</span>
            {%- endif -%}
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            {%- if post.tldr -%}
            <span class="sd-tldr">
                {{post.tldr}}
            </span>
            {%- endif -%}

            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ol>
    {%- endif -%}
</fieldset>
<br />
{%- endif -%}