
.p-tag{
    background-color: #0089e0;
    padding: 0.1rem 0.4rem;
    border-radius: 0.2rem;
    color: white;
}

.p-tldr{
    margin: 10px 0;
}

.p-hr{
    margin: 5px 0;
}

.p-next{
    @include relative-font-size(1.4);
    margin: 10px 0;
    float: right;
}

.p-previous{
    margin: 10px 0;
}